body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    padding: 10vh 9%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    color: var(--bg-color);
}

.headingAbout {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.about-img img {
    position: relative;
    width: 30vw;
    top: 1rem;
    border-radius: 10%;
}

.about-content {
    max-width: 50%;
}

.about-content h2 {
    text-align: left;
    line-height: 1.5;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0;
}

@media screen and (max-width: 768px) {
    .about {
        flex-direction: column;
        height: 100vh;
        padding: 5vh 5%;
        gap: 2rem;
    }

    .about-img img {
        width: 50vw;
    }

    .about-content {
        max-width: 100%;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-content p {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 480px) {
    .headingAbout {
        font-size: 1.5rem;
    }

    .about-content p {
        font-size: 1rem;
    }
}