.home_home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--text-color);
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #3434be;
    --text-color: rgb(0, 0, 0);
    --main-color: #3d6ec9;
    --main-color-2: #0b9bee;
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
}

.img {
    width: 45vh;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: Left;
    flex-direction: column;
    text-align: Left;
    margin: 80px;
    color: var(--bg-color);
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color-2);
}

.home-content p {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 80%;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 0.3rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color-2);
    margin: 4rem 2rem 0 0;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: var(--bg-color);
    transform: scale(1.3)translateY(-0.5rem);
    background-color: var(--main-color-2);
    border: 0.3rem transparent var(--main-color-2);
}

@media screen and (max-width: 1100px) {

    .home_home {
        flex-direction: column;
    }

    .home-content {
        margin: 0;
        padding: 0.5rem 1rem;
        flex-direction: column;
        text-align: center;
    }

    .about-content{
        text-align: center;
    }

    .home-img {
        margin-top: 2rem;
    }

    .img {
        width: 150px;
    }

    .home-content h3 {
        margin-top: 3rem;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .home-content p {
        margin: 1rem;
        font-size: 1rem;
    }

    .social-icons a {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        margin: 0rem 0.2rem 0rem 1rem;
    }

}