.home_home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #3434be;
    --text-color: rgb(0, 0, 0);
    --main-color: #3d6ec9;
    --main-color-2: #0b9bee;
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px;
}

.img {
    width: 35vh;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 800;
}

.home-content p {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    width: auto;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 0.3rem solid var(--main-color);
    font-size: 3rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: var(--bg-color);
    transform: scale(1.3)translateY(-0.5rem);
    background-color: var(--main-color-2);
    border: 0.3rem transparent var(--main-color-2);
}

@media screen and (max-width: 815px) {

    .home_home {
        height: 100vh;
    }

    .home-img {
        margin-top: 5rem;
    }

    .img {
        width: 150px;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-content p {
        padding: 1rem;
        font-size: 1rem;
    }

    .social-icons a {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        margin: 1rem 0.5rem 1rem 0;
    }

}